.Rproj.user
.Rhistory
.RData
.Ruserdata

to-ignore/
.Rproj.user/
input/data/original/QOG/V-Dem-CY-Full+Others-v15.dta
input/data/original/QOG/qog_bas_cs_jan25.dta
input/data/original/QOG/qog_std_cs_jan25.dta
input/data/original/QOG/qog_std_ts_jan25.dta
input/data/original/QOG/V-Dem-CY-FullOthers-v15_dta.zip
